<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.kkl.graffiti"
          xmlns:android="http://schemas.android.com/apk/res/android"
          android:versionCode="006"
          android:versionName="1.10.00">

    <!-- 相机 -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <!-- sd卡读写 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="false"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".home.MainActivity"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <action android:name="android.intent.action.VIEW"/>
                <!-- Accepts URIs that begin with "http://www.example.com/gizmos” -->
            </intent-filter>
        </activity>

        <activity
            android:name=".doodle.DoodleActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            />

        <activity
            android:name=".doodle.ShowActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            />

        <activity
            android:name=".setting.SettingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            />

        <activity
            android:name=".setting.PPTActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            />

        <activity
            android:name=".setting.TutorialsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            />

        <activity
            android:name=".setting.TeacherDrawActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            />

        <activity
            android:name=".doodle.SolidPicActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            />


        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.kkl.graffiti.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths"/>
        </provider>


        <!--====================百度自动更新sdk============================-->
        <meta-data
            android:name="BDAPPID"
            android:value="15142639"/>
        <meta-data
            android:name="BDAPPKEY"
            android:value="CbfRxWEBemgtSkQfTspgfMYdGT0vQBdE"/>

    </application>

</manifest>